[submodule "third_party/openpi"]
	path = third_party/openpi
	url = https://github.com/Physical-Intelligence/openpi.git
[submodule "third_party/RLinf"]
	path = third_party/RLinf
	url = https://github.com/RLinf/RLinf.git
[submodule "third_party/mujoco_menagerie"]
	url = https://github.com/chernyadev/mujoco_menagerie.git
	branch = add-so-arm100
	path = third_party/mujoco_menagerie
